name: Deploy to EasyPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger EasyPanel Deploy
        run: |
          curl -s -o /dev/null -w "%{http_code}" \
            http://ep.tbdc.com.br/api/deploy/6b63f2efe01cd09722e6403f58c1eb516e4fc4a30dd14a1d
